div.css-17qbjix.e16fv1kl2{
    color:white;
}



div.css-j5r0tf.e1tzin5v2{
    background-color:#393534  ;
    color : white;
    border : 1px solid #686160;
    border-radius :5px;
    text-align: center;
    font-style: bold;
    padding : 1.5%
}


div.element-container.css-1u54iu2.e1tzin5v3{
    padding : 5px;


}

div.css-50ug3q.e16fv1kl3{

    font-style: bold;
}
